# {{ ansible_managed }}

user = {{ postfix_dovecot_mysql_user }}
password = {{ postfix_dovecot_mysql_password }}
hosts = {{ postfix_dovecot_mysql_host }}
dbname = {{ postfix_dovecot_mysql_db_name }}
query = {{ postfix_mysql_users_query }}
